@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.section1_container {
    background-color: lightblue;

    width: 100vw;
    height: 100vh;
}

.main_section_heading {
    font-family: "Roboto";
    font-weight: bold;

}

.main_section_paragraph {
    font-size: 15px;
    font-weight: bold;
}

.second_container {
    background-color: lightblue;
    min-height: 100vh;
    width: 100vw;
    padding: 20px 0;
}


.category-box {
    background-color: #e3f2fd;
    border-radius: 12px;
    margin: 10px 0;
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}


.category-box:hover {
    transform: translateY(-5px);
    background-color: #ffffff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}


.second_container_heading {
    color: #003366;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 25px;
    text-align: center;
}